<?xml version="1.0" encoding="Windows-1251"?>
<root>
	<parameters>
		<server_ip alt_addr1="" alt_addr2="" bytes_per_sec="0" protection_level="0" test_server_addr="mon.forwardmobile.ru:1890" use_test_server="1">192.168.1.18:1888</server_ip>
		<request_time>1</request_time>
		<offline_payment>0</offline_payment>
		<payments error_payments_delete="36" offline_period="" money_offline_period="" update_cards_info="0" delete_unprocessed_payments="30" ignored_check_errors_list=""/>
		<logs_delete payments="0" main="61" other="31" other_folders="c:\tclib\log\????-??-??-*.*"/>
		<money_transfers mt_info_update_time="06:49"/>
		<http_prefixes/>
		<restart_tclib>3</restart_tclib>
	</parameters>
	<ftpconnect>
		<host>192.168.1.253</host>
		<username>terminals</username>
		<password>terminals1357</password>
		<ftp_folder>/</ftp_folder>
	</ftpconnect>
	<service>
		<out_of_order_password>1234</out_of_order_password>
		<service_num>7376668282</service_num>
		<service_op>0</service_op>
		<incassation_number_mask/>
		<incassation reports_count="1" get_amount_url="" print_barcode="0"/>
		<service_menu_password_mask/>
		<short_service_menu_password_mask/>
		<tax_inspector_num/>
		<tax_inspector_exe/>
		<tax_inspector_op>-1</tax_inspector_op>
	</service>
	<peripherals>
		<printer type="windows" port="" auto_open_shift="1" print_unprinted_cheques="1" terminal_freese_on_error="0" min_lines_count="0" font="" presenter_command="0" zreport_with_incassation="1" baudrate="115200" save_unprinted_cheques="1" show_message_on_error="1" cheque_width="48" paper_near_end_enable="-1" partial_cut="1" retract_report="0" time_out="100" print_after_close="1" inner_printer_font="0" close_current_shift="1" to_866="1" post_feed="0" paper_end_enable="1"/>
		<validator type="none" port="6" currency="RUR" exchange_rate="1" currency_name="руб." stacker_open_command="0" bills_sensitivity="222222" report_bill_count="" ValidatorMaxAttempts="20"/>
		<watchdog type="none" port="0" reboot_allowed="1"/>
		<keyboard type="" port="0"/>
		<cardreader type="" port="0" system_code="0" device_code="0" terminal_freese_on_error="0" time_out="0" server_host="AppServer" server_port="11110"/>
		<hopper type="" port="0" terminal_freese_on_error="0"/>
		<coinacceptor type="" port="0" terminal_freese_on_error="0" min_coin="1" echo="0"/>
		<modem auto_dial="0" connection_name="inet" interval="300" reboot_allowed="1" host0="" host1="" port="1" service_number="*100#" get_service_info_interval="1440" connection_check_time_out="14" failures_before_modem_reset="4" failures_before_reboot="5" disconnect_time="0" init_cmd="ATE0" login="" password="" init_string="AT+CGDCONT=1,&quot;IP&quot;,&quot;internet.mts.ru&quot;" alt_init_string="" service_info_port="1" baudrate="0" get_balance_cmd="" decode_balance="" cnt_SIM="1" balance0="" init0="" pre-reboot_command="AT^SMSO"/>
	</peripherals>
	<terminal>
		<interface show_cursor="1" check_in_local_base="0" no_change_message="1" sound_volume="-1" is_maximised="1" width="800" height="600" show_adv_on_secondary_monitor="0" show_title_screen="0" show_autodetect_warning="0" resolution="1280x1024" interface_ver="1.20130327a"/>
		<number write_in_cheque="0"/>
		<support_string>Tелефон техподдержки: [b]+7 (800) 100-800-3, с 9:00 до 20:00[/b][br]e-mail: [b]info@forwardmobile.ru[/b]</support_string>
		<main_menu_marquee_string>За проведение платежа взимается комиссия.</main_menu_marquee_string>
		<note_min_amount>1</note_min_amount>
		<night_mode period=""/>
		<reboot_allowed>1</reboot_allowed>
		<detect_write_errors>1</detect_write_errors>
		<set_high_priority>1</set_high_priority>
		<main_menu_banner>0</main_menu_banner>
		<midnight_reboot>1</midnight_reboot>
	</terminal>
	<dirs>
		<payments outbound="c:\webclient\outbound\payments" temp="c:\webclient\outbound\payments\temp"/>
		<stat outbound="c:\webclient\outbound\stat" temp="c:\webclient\outbound\stat\temp"/>
		<email outbound="c:\webclient\outbound\email" temp="c:\webclient\outbound\email\temp"/>
		<commands_inbound>c:\webclient\inbound</commands_inbound>
		<status_file>.\config\Details.xml</status_file>
		<interface path=".\interface" skin_name="metro2" skin="modern" db_numcapacity_update_address="http://www.forwardmobile.ru/files/db_numcapacity1.7z" our_TS="0" MaxChequesCount="1000" use_list_ip="1"/>
	</dirs>
	<connections>
		<proxy type="none" host="" port="0" username="" password=""/>
	</connections>
	<email_sender smailhost="mail.forwardmobile.ru" from="" userid="" password="" ext="0" send_interval="5" ignored_errors="450" hw_err_to="" hw_ok_to="" val_full_to="" incass_to="" prog_msg_to="" mdm_msg_to="" file_to=""/>
	<night_mode period=""/>
	<sms_sender phone_number="" comment="" send_startup_sms="1" service_number="9189439212" send_method="0" smsc_number=""/>
	<keys_info get_keys_url="">
		<keys id="0">
			<hasp>0</hasp>
			<SD>0</SD>
			<AP>99999</AP>
			<OP>0</OP>
			<TermInfo/>
			<!--serial_no>133</serial_no>
			<pub_key>C:\WebClient\keys\pubkeys.key</pub_key>
			<sec_password>1111111111</sec_password>
			<sec_key>C:\WebClient\keys\secret.key</sec_key-->
			<serial_no>105899</serial_no>
			<pub_key>C:\WebClient\keys_w\pubkeys.key</pub_key>
			<sec_password>1155333</sec_password>
			<sec_key>C:\WebClient\keys_w\secret.key</sec_key>
		</keys>
	</keys_info>
	<dealer_info>
		<dealer_name>название организации</dealer_name>
		<dealer_address>название терминала</dealer_address>
		<dealer_inn>ИНН дилера</dealer_inn>
		<dealer_phone>-</dealer_phone>
		<point_address>Адрес терминала</point_address>
		<contract_number>Номер договора</contract_number>
		<bank_name>-</bank_name>
		<bank_bik>Номер точки в Билайн</bank_bik>
		<bank_phone>8 (861) 299-22-22</bank_phone>
	</dealer_info>
	<foto_sender host="www.forwardmobile.ru" port="1891" path=".\jpg" enable="0" interval="20" start="00:00" end="00:00" store_days="30" cnt_in_pack="1" have_webcam="0" jpg_Quality="35" dev_index="-1"/>
	<monitor enable="0" off="00:00" on="00:00" height="0" width="0"/>
	<cheque_head>
		<string>Телефон службы поддержки</string>
		<string>+7 (800) 100-800-3</string>
		<string>C 9:00 до 20:00</string>
	</cheque_head>
	<fr_sender host="www.forwardmobile.ru" port="1895" enable="0" timeout="20" resend="1" printer_type="none" check_width="40" print_no_fr="0"/>
	<cheque_copy insert="Информация о принятых денежных средствах" before="Номер чека"/>
	<toupdate>
		<ufolder>\interface</ufolder>
		<ufolder>\taxi</ufolder>
	</toupdate>
	<notupdate>
	    <nfolder>\md5</nfolder>
		<nfolder>\Backup</nfolder>
		<nfolder>\config</nfolder>
		<nfolder>\DPSCom</nfolder>
		<nfolder>\logs</nfolder>
		<nfolder>\inbound</nfolder>
		<nfolder>\outbound</nfolder>
	</notupdate>
	<sntp enable="0" host="" port="123" interval="180"/>
</root>
